
{% extends 'main.html' %}
{% block main %}
{% load staticfiles %}
<div class="row centered">
    <div class="col col-6">
    	<form action='' method='post' class="form">
    	{% csrf_token %}
        <fieldset>
        <legend>Link Short</legend>
        {% if error %}
        <div class="alert error"><h3>Link Error!</h3></div>
        {% endif %}   
        <div class="row centered">
            <div class="col col-6">
                <div class="form-item">
                    <label for='id_link'>Link</label>
                    <input id="id_link" name="link" type="url" value="http://" required pattern="https?://.+">
                </div>
            </div>
        </div>
        <div class="row centered">
            <div class="col col-6">
                <div class="form-item">    
                    <label for='id_advertiment'>Advertisement</label>    
                	<select id="id_advertiment" name="advertiment">
                    <option value="Yes_Ads">Yes Please</option>
                    <option value="Not_Ads">Of Course No!</option>
                    </select>
                </div>
            </div>
        </div>	
        </fieldset>
    <div class="row centered">
        <div class="form-item">
        <input class='button ' type='submit' value='Submit'>
        </div>
    </div>    
    	</form>
    </div>
</div>

    {% if username %}

<div class="row centered">
    <div class="col col-10">
    <form class="form" action="" method="post">
        {% csrf_token %}
    <fieldset>
        <legend>Link Short</legend>    
        <table class="striped">
            <thead>
                <tr>
                    <th></th>
                    <th>URL Adress</th>
                    <th>Create Time</th>
                    <th>Shortener URL</th>
                    <th>Cycle</th>
                </tr>
            </thead>
            <tbody>
                {% for url in short_urls_list %}
                    <tr>
                        <td><input type="checkbox" name="choices" value="{{url.id}}"></td>
                        <td><a href="{{url.long_link}}/"> {{url.long_link}}</a></td>
                        <td>{{ url.created_date}}</td>
                        <td><a href="/{{url}}/"> {{ host }}/{{url}}/ </a></td>
                        <td>{{url.clicks}}</td>
                    </tr>
                {% endfor %}
            </tbody>
	    </table>
        <button type="submit" name="delete" class="button">Delete</button>
    </fieldset>
    </form>
    </div>
</div>
	{% endif %}
{% endblock %}